 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Demo</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"> 
</head>
<body>
    <header>
<section class="hero" style ="background: url('{% static 'css/image/pencil.jpg' %}')">
    <div class="menu-icon"><span></span><span></span><span></span></div>
    <div class="hero-content">
        <h1>Stylish Portfolio</h1>
        <p>A Free Bootstrap theme by Start Bootstrap</p>
        <a href="#" class="btn btn-blue">Find Out More</a>
    </div>
    </section>
</header>

<section class="about">
    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
    <p>This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at Unsplash!</p>
    <a href="#" class="btn btn-dark">What we offer</a>
</section>
 
<section class="services" style="background-color: rgba(29, 120, 212, 0.8);">
    <h2 style="color: yellow;">SERVICES</h2>
    <h1>What We offer</h1>

    <div class="services-container">
    
    <div class="service-box">
      <div class="icon"><img src="{% static 'css/icons/iphone.png'%}" alt=""></div>
      <h3 style="color: #fff;">Responsive</h3>
      <p style="color: #fff;">Looks great on any screen size</p>
    </div>

    <div class="service-box">
      <div class="icon"><img src="{% static 'css/icons/facebook (2).png'%}" alt=""></div>
      <h3 style="color: #fff;">Redesigned</h3>
      <p style="color: #fff;">Freshly designed for bootstrap 4.</p>
    </div>

    <div class="service-box">
      <div class="icon"><img src="{% static 'css/icons/like.png'%}" alt=""></div>
      <h3 style="color: #fff;">Favorited</h3>
      <p style="color: #fff;">Millions of users love it!</p>
    </div>

    <div class="service-box">
      <div class="icon"><img src="{% static 'css/icons/mustache.png'%}" alt=""></div>
      <h3 style="color: #fff;">Questioned</h3>
      <p style="color: #fff;">I mustache you a question...</p>
    </div>

  </div>
</section>
        

{% comment %} 
<div class="divider-blue"></div> {% endcomment %}




{% comment %} <div class="divider-blue"></div> {% endcomment %}

<section class="cta" style="background: url('{% static 'css/image/pencil.jpg' %}') center center/cover;">
    <h2>Welcome to your next website</h2>
    <a href="#" class="btn btn-blue">Download now</a>
</section>

{% comment %} <div class="divider-blue"></div> {% endcomment %}

<section class="portfolio">
    <p class="section-subtitle" style="color :rgba(255,193,7,0.8)">PORTFOLIO</p>
        <h2 class="section-title">Recent Projects</h2>
        <div class="portfolio-grid">
            <div class="item1">
                <div class="overlay">
                    <h3 style="color :white">STATIONERY</h3>
                    <p style="color :white">A yellow pencil with envelopes on a clean blue backdrop!</p>
                </div>
            </div>
            <div class="item2">
                <div class="overlay">
                    <h3 style="color :white"><b>ICE CREAM</b></h3>
                    <p style="color :white">A dark blue background with a colored pencil and a tiny ice cream</p>
                </div>
            </div>
            <div class="item3">
                <div class="overlay">
                    <h3 style="color :white"><b>STRAWBERRIES</b></h3>
                    <p style="color :white">Strawberries are such a tasty snack, especially with sugar on top</p>
                </div>
            </div>
            <div class="item4">
                <div class="overlay">
                    <h3 style="color :white"><b>WORKSPACE</b></h3>
                    <p style="color :white">A yellow workspace with scissors, pencils and other objects.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section" style="background-colour: rgba(29, 120, 212, 0.8);">
    <div class="cta-container" style="background-color: rgba(29, 120, 212, 0.8);">
        <h2>The buttons below are impossible to resist...</h2>
        <div class="button-group">
            <a href="#" class="btn btn-light">Click Me!</a>
            <a href="#" class="btn btn-dark">Look at Me!</a>
        </div>
    </div>
</section>

<section class="map" style="background: url('{% static 'css/image/map.png' %}') center center/cover;"></section>
<footer class="main-footer">
    <div class="social-icons">
        <a href="#" class="icon-link">
            <img src="{% static 'css/icons/facebook (2).png'%}" alt="Facebook">
        </a>
        <a href="#" class="icon-link">
            <img src="{% static 'css/icons/twitter (2).png'%}" alt="Twitter">
        </a>
        <a href="#" class="icon-link">
            <img src="{% static 'css/icons/merge.png'%}" alt="GitHub">
        </a>
    </div>
    <p class="copyright">copyright(c) @ nicanor m</p>
</footer> 
</body>
</html>  